.build/
dist/
.DS_Store
.env*
*.dcm
*.dicom
*.xcuserstate
xcuserdata/
workspace.json
.local/
core
.venv/
__pycache__/
.pytest_cache/
node_modules/
connector/horos-connector/horos_connector/web/build/
*.sqlite3*
backend-data/
!.env.example
